useDynLib(adehabitatHS)

import(methods,sp,ade4,adehabitatMA,adehabitatHR)

exportPattern("^[^\\.]")

S3method(print, engenetalI)
S3method(print, engenetalII)
S3method(print, gnesfa)
S3method(hist, enfa)
S3method(plot, kselect)
S3method(plot, wi)
S3method(predict, enfa)
S3method(print, enfa)
S3method(print, kselect)
S3method(print, rand.kselect)
S3method(print, wiIII)
S3method(print, wiII)
S3method(print, wiI)
S3method(print, compana)
S3method(print, madifa)
S3method(hist, madifa)
S3method(plot, madifa)
S3method(predict, madifa)
S3method(hist, kselect)
S3method(kplot, kselect)
S3method(plot, canomi)
S3method(print, canomi)
S3method(print, dunnfa)
S3method(print, esr)
S3method(randtest, enfa)
S3method(scatter, enfa)
S3method(scatter, esr)
S3method(scatter, madifa)
